@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Sesiones que afectan a todo el documento*/
*{
    padding: 0;
    margin: 0;
}
:root{
    --color_secundario: rgb(238,44,94);
    --color_fondo: rgb(242,242,242);
    --color_titulos: rgb(129, 114, 25);
    --color_ranas: rgb(3, 172, 3);
    --color_museo: rgb(20, 61, 173);
    --color_madera: #917347;
}

body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    width: 100%;
}
header{
    background-color: var(--color_secundario);
    color: var(--color_fondo);
    width: 100%;
}
main{
    width: 100%;
}
.encabezado{
    display: flex;
    padding: 0% 3% 0% 1%;
    gap: 5%
}
.encabezado_links{
    display: flex;
    align-items: center;
    gap: 35%;
    
    
}
.links_encabezado{
    color: (var(--color_fondo));
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
}

.fondo{
    background-image: url(Assets/FondoMain.jpeg);
    background-size: 100%;
}
img{
    border-radius: 10%;
}

.titulo_pagina{
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    font-size: 2.5rem;
}
#greca_reves{
    transform: rotate(180deg);
}
.imagen_reves{
    transform: scaleX(-1);
}
.imagen_abajo{
    padding: 0% 25% 0% 25%;
    border-radius: 0%;
    
    
}
p, li{
    font-size: 1.25rem;
    font-weight: 500;
    text-align: justify;
    gap: 0.625rem;
    color: black;
}
footer{
    background-color: var(--color_secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0% 1% 0%;
    gap: 3%;
    width: 100%;
}
.links_footer{
    color: var(--color_fondo);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}
/*Sesiones de pagina inicio*/
#seccion_titulo{
    color: var(--color_titulos);
    font-weight: 800;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
    padding: 5%;
    text-align: justify;
}


#seccion_historia{
    padding: 0% 5%  0% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}
.subtitulo_izq{
    color: var(--color_titulos);
    display: flex;
    align-items: center;
    gap: 0.125rem;
    font-size: 2rem;
    font-weight: 700;
    padding: 0% 5%  0% 5%;
}
.subtitulo_der{
    color: var(--color_titulos);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.125rem;
    font-size: 2rem;
    font-weight: 700;
}

.mapa{
    padding: 3%;
    display: flex;
    justify-content: center;
}
#seccion_actualidad{
    padding: 0% 5%  0% 5%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}
#seccion_datos{
    padding: 0% 5%  0% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}
.video{
    padding: 3%;
    display: flex;
    justify-content: center;
}

/* Secciones de la pagina Informes */
.seccion_formulario{
    padding: 0% 5% 0% 5%;
}
.formulario{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.elemento_reducido{
    width: 30%;
}
.boton_reducido{
    align-items: center;
    width: 15%;
}
input:empty{
    border: 0.0625rem solid gray;
}


/* secciones de la pagina visita */
.imagen_sticky{
    position:sticky;
    top: 1.875rem;
    width: 9.375rem;

}
.subtitulo_lugares{
    display: flex;
    align-items: center;
    gap: 0.125rem;
    font-size: 2rem;
    font-weight: 700;
    padding: 0% 5%  0% 10%;
}

    
.seccion_lugares
{
    padding: 0% 5%  0% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}
.texto_imagen{
    display: flex;
    align-items: center;
    gap:25%
}
.span_rana{
    color: var(--color_ranas);
    font-weight: 600;
}
.span_museo{
    color: var(--color_museo);
    font-weight: 600;
}
.span_madera{
    color: var(--color_madera);
    font-weight: 700;
}
.span_iglesia{
    color: var(--color_titulos);
    font-weight: 700;
}
.carrusel_contenido {
    
    overflow: hidden;
    text-align: left;
    height: 18.75rem;
    width: 100%;

}
.carrusel_caja {
    -moz-animation: automatizacion 20s infinite linear;
    -o-animation: automatizacion 20s infinite linear;
    -webkit-animation: automatizacion 20s infinite linear;
    animation: automatizacion 20s infinite linear;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    height: 18.75rem;
    width: 400%;
    
}

.carrusel_imagen{
    height: 18.75rem;
    width: 100%;
}
.carrusel_elemento {
    float: left;
    width: 25%;
}
@-moz-keyframes automatizacion {
    0% {
    margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    
    99% {
        margin-left: -300%;
    }
    
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    
    99% {
        margin-left: -300%;
    }
    
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    
    99% {
        margin-left: -300%;
    }
    
    100% {
        margin-left: 0;
    }
}
@media (max-width: 1500px) {
    .imagen_abajo{
        padding: 0%;
        width: 100%;
    } 
}

@media (max-width: 900px) {

    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    p, li{
        font-size: 1.25rem;
    }

    #seccion_historia, #seccion_actualidad, #seccion_datos, .seccion_lugares{
        flex-direction: column;
    }

    .imagen_abajo{
        padding: 0%;
        width: 100%;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        width: 75%;
    }
    .elemento_reducido{
        width: 50%;
    }
    .boton_reducido{
        width: 15%;
    }
    footer{
        flex-direction: column;
        align-items: center;
        padding: 1% 0% 1% 0%;
        gap: 1%;
    }
}
@media (max-width: 450px) {

    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
    p, li{
        font-size: .75rem;
    }

    #seccion_historia, #seccion_actualidad, #seccion_datos, .seccion_lugares,
    .texto_imagen{
        flex-direction: column;
    }
    .imagen_abajo{
        padding: 0%;
        width: 100%;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .elemento_reducido{
        width: 50%;
    }
    .boton_reducido{
        width: 20%;
    }
    footer{
        flex-direction: column;
        padding: 1% 0% 1% 0%;
        gap: 1%;
    }
    
}
